{% extends "base.html" %}
{% block content %}

    <div id="fixing_top"></div>



    {% if announcement and announcement.message != "" %}
        <div class="announcement-tab">
            <div class="announcement">{{ announcement.message }}</div>
            <p>{{ announcement.created_at }}</p>
        </div>
    {% endif %}



    <div class="user_recepies_container">
        {% if recipes %}
            <div class="recipe_boxes">

                {% for recipe in recipes reversed %}
                    <div class="recipe_box">
                        <p>Chef: {{ recipe.chef }}</p>
                        <img class="recipe_image" src="{{ recipe.picture }}" alt="{{ recipe.title }}">
                        <h3>{{ recipe.title }}</h3>
                        <p>For time of the day: {{ recipe.get_time_category_display }}</p>
                        <p>Type: {{ recipe.get_type_category_display }}</p>
                        <a href="{% url 'recipe details' recipe.pk %}" class="edit_button">details</a>
                    </div>
                {% endfor %}

            </div>
        {% else %}
            <p>No recipes have been created</p>
        {% endif %}
    </div>

    <div id="fixing_bottom"></div>

{% endblock %}