{% extends "base.html" %}
{% block content %}

    <div id="recipe-form-top"></div>

    <h2 class="page-title">Edit Recipe</h2>
    <form method="post" class="custom-recipe-form">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="button-container">
            <button type="submit" class="custom-submit-button">Edit Recipe</button>
            <button type="button" class="custom-cancel-button">
                <a class="custom-cancel-button" href="{% url 'user recipes' %}">Cancel</a>
            </button>
        </div>
    </form>

    <div id="recipe-form-bottom"></div>

{% endblock %}