{% extends "base.html" %}
{% block content %}
    <div id="fixing_top"></div>

    <div class="user_recepies_container">
        {% if recipes %}
            <h2>Your Recipes</h2>
            <div class="recipe_boxes">
                {% for recipe in recipes %}
                    <div class="recipe_box">
                        <img class="recipe_image" src="{{ recipe.picture }}" alt="{{ recipe.title }}">
                        <h3>{{ recipe.title }}</h3>
                        <p>For time of the day: {{ recipe.get_time_category_display }}</p>
                        <p>Type: {{ recipe.get_type_category_display }}</p>
                        <a href="{% url 'recipe details' recipe.pk %}" class="edit_button">details</a>
                    </div>
                {% endfor %}
                <div class="add_button_box">
                    <a href="{% url 'recipe create' %}" class="button">+</a>
                </div>
            </div>
        {% else %}
            <p>No recipes have been created</p>
            <div class="add_button_box">
                <a href="{% url 'recipe create' %}" class="button">+</a>
            </div>
        {% endif %}
    </div>

    <div id="fixing_bottom"></div>
{% endblock %}